<div class="flex justify-end min-h-screen bg-gray-900 text-gray-300">
  <!-- Contenu principal de la page de chat -->
  <div class="flex-grow flex flex-col p-4 max-w-[calc(100%-16rem)]">
    <div class="flex items-center justify-between mb-4">
      <h1 class="text-2xl font-semibold">Home</h1>
    </div>
    <div class="flex-grow bg-gray-800 rounded-lg shadow-lg p-6 flex flex-col">
      <!-- Conteneur des messages -->
      <div class=" flex-grow overflow-y-auto h-96" #chatContainer>
        <div class="flex flex-col space-y-4">
          <div *ngFor="let message of messages" class="message break-words">
            <div class="flex items-center space-x-4">
              <!-- User Avatar -->
              <div class="user-avatar bg-purple-600 text-white rounded-full w-8 h-8 flex items-center justify-center">
                {{ message.sender.charAt(0).toUpperCase() }}
              </div>
              <!-- Message Author and Content -->
              <div class="message-author font-semibold text-white">{{ message.sender }} :</div>
              <div class="message-content text-gray-400 max-w-[calc(100%-5rem)]">
                {{ message.content }}
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <!-- Input pour envoyer des messages -->
      <div class="mt-4 flex items-center space-x-4">
        <input [(ngModel)]="message" (keydown.enter)="sendMessage()" 
               placeholder="Type your message..." 
               class="flex-grow px-4 py-2 bg-gray-700 border border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-purple-500 placeholder-gray-400 text-gray-300" />
        <button (click)="sendMessage()" 
               class="px-4 py-2 bg-[rgba(15,181,131,.7)] text-white rounded-md hover:bg-[rgba(15,181,131,1)] hover:shadow-lg hover:shadow-[rgba(15,181,131,.7)] transition duration-200 ease-in-out  focus:outline-none focus:ring-2 focus:ring-purple-500">
         Envoyer
       </button>
      </div>
    </div>
  </div>
</div>
